body {
  font-family: Arial, Helvetica, sans-serif;
}
.weatherapp-wrapper {
  max-width: 900px;
  margin: auto;
}

.weatherapp-body {
  margin-top: 90px;
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
}

.current-weather {
  text-align: center;
}

h1 {
  color: #132743;
  font-size: 48px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
h2 {
  padding-top: 8px;
  font-size: 3rem;
}
strong {
  color: #132743;
}
#description {
  text-transform: capitalize;
}
.degree-unit {
  position: relative;
  font-size: 16px;
  top: -20px;
}
.degree-link {
  color: #292728;
  cursor: default;
}

a {
  text-decoration: none;
}

#search-inpute {
  margin: 8px;
  max-width: 500px;
}
#search-button {
  margin-left: 8px;
}
#current-button {
  color: #fff;
  background-color: #132743;
}
#search-button {
  color: #fff;
  background-color: #74cc7e;
}

.weather-forecast {
  text-align: center;
  margin-left: 8px;
  margin-top: 85px;
  font-size: 13px;
  font-weight: 600;
}
.weather-forecast-item {
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
  margin: 8px;
  border-radius: 15px;
}
.weather-forecast-date {
  color: #ffff;
  padding-top: 3px;
  opacity: 0.9;
}
.weather-forecast-temperature {
  color: #ffff;
}
.weather-forecast-min {
  opacity: 0.7;
}
